$navbar-default-bg: #325255;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size:1.7em;
  color: #dddddd;
  text-transform: uppercase;
  letter-spacing:-1px;
  font-weight:bold;
}

#logo:hover {
  color: #2E2F30;
  text-decoration: none;
}

.center {
  text-align: center;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top:1px solid #730E15;
  color: #2E2F30;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;

}