<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://www.aupairindo.com">AupairIndo.com</a>
      by <a href ="https://www.linkedin.com/in/syarifmathis">Syarif Hidayatullah</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>